{{>components/masthead/example-index}}

<div class="row" style="display: flex">
    <div style="width: 30%;">
    <br />
    {{>components/accordion/example-accordion-panels}}
    <br />
    {{>components/listview/example-singleselect}}
    </div>
    <div style="width: 70%;">
        {{>components/toolbar/example-index}}
        {{>components/tabs/example-index}}
        <br />
        <div style="float: left; width: 400px;">
          {{>components/input/example-index}}
          {{>components/dropdown/example-index}}
          {{>components/multiselect/example-index}}
          {{>components/lookup/example-index}}
        </div>
        <div style="float: left; width: 400px;">
          {{>components/datepicker/example-index}}
          {{>components/timepicker/example-index}}
          {{>components/colorpicker/example-index}}
          {{>components/radios/example-index}}
          
          {{>components/checkboxes/example-index}}
          <br />
          {{>components/switch/example-index}}
        </div>
        <div style="width: 800px;">
          {{>components/tag/example-index}}
          <br />
          {{>components/alerts/example-index}}
          <br />
          <br />
          <br />
          {{>components/badges/example-index}}
          <br />
          <br />
          <br />
          {{>components/slider/example-index}}
          <br />
          {{>components/button/example-index}}
          {{>components/popover/example-index}}
          {{>components/contextualactionpanel/example-index}}
          <br />
          {{>components/modal/example-index}}
          <br />
          {{>components/datagrid/example-index}}
      </div>
    </div>
</div>

<!-- Basics -->
<div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Color Palette</h2>
    </div>
  </div>
  {{>components/colors/example-index}}
  
  <div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Typography 123</h2>
    </div>
  </div>
  {{>components/typography/example-index}}

    <!-- Charts -->

<div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Pie Chart</h2>
    </div>
  </div>
  {{>components/pie/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Donut Chart</h2>
    </div>
  </div>
  {{>components/donut/example-index}}
  
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Vertical Bar Chart</h2>
    </div>
  </div>
  {{>components/bar/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Stacked Bar - Vertical</h2>
    </div>
  </div>
  {{>components/bar-stacked/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Stacked Bar - Vertical 100%</h2>
    </div>
  </div>
  {{>components/bar-stacked/example-stacked-100}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Grouped Bar Chart</h2>
    </div>
  </div>
  {{>components/bar-grouped/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Column Chart</h2>
    </div>
  </div>
  {{>components/column/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Stacked Column Chart</h2>
    </div>
  </div>
  {{>components/column-stacked/example-index}}
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Sparklines</h2>
    </div>
  </div>
  {{>components/sparkline/example-index}}
  
  
  <div class="row">
    <div class="twelve columns">
    <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Line Chart</h2>
    </div>
  </div>
  {{>components/line/example-index}}
  
  <div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Area Chart</h2>
    </div>
  </div>
  {{>components/area/example-index}}
  
  <div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Bullet Chart</h2>
    </div>
  </div>
  {{>components/bullet/example-index}}
  
  <div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Radar Chart</h2>
    </div>
  </div>
  {{>components/radar/example-index}}
  
  <div class="row">
    <div class="twelve columns">
      <hr class="fieldset-hr"/>
        <h2 class="fieldset-title">Treemap Chart</h2>
    </div>
  </div>
  {{>components/treemap/example-index}}
  
  <br/>
  <br/>

  

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
  <h2 class="fieldset-title">Menu Buttons</h2>
  </div>
</div>
{{>components/menubutton/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Right Click Menu</h2>
  </div>
</div>
{{>components/contextmenu/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Text Input Field Sizes</h2>
  </div>
</div>
{{>components/input/example-sizes}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Text Area</h2>
  </div>
</div>
{{>components/textarea/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Autocomplete</h2>
  </div>
</div>
{{>components/autocomplete/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Search Field</h2>
  </div>
</div>
{{>components/searchfield/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Spin Box</h2>
  </div>
</div>
{{>components/spinbox/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">File Upload</h2>
  </div>
</div>
{{>components/fileupload/example-index}}

<div class="row">
  <div class="twelve columns">
    <hr class="fieldset-hr"/>
    <h2 class="fieldset-title">Editor - Html</h2>
  </div>
</div>
{{>components/editor/example-index}}

<!-- Navigation -->
<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Message</h2>
  </div>
</div>
{{>components/message/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Toast</h2>
  </div>
</div>
{{>components/toast/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">About</h2>
  </div>
</div>
{{>components/about/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Cards</h2>
  </div>
</div>
{{>components/cards/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Tooltip</h2>
  </div>
</div>
{{>components/tooltip/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Pager</h2>
  </div>
</div>
{{>components/pager/example-index}}

<!-- Navigation -->

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Bread Crumb</h2>
  </div>
</div>
{{>components/breadcrumb/example-index}}

<!-- Grids/Lists -->
<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Accordion</h2>
  </div>
</div>
{{>components/accordion/example-index}}

<!--  Visualisation -->
<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Process Indicator - Large Size</h2>
  </div>
</div>
{{>components/processindicator/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Time Line</h2>
  </div>
</div>
{{>components/timeline/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Rating</h2>
  </div>
</div>
{{>components/rating/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Busy Indicator</h2>
  </div>
</div>
{{>components/busyindicator/example-index}}

<div class="row">
  <div class="twelve columns">
  <hr class="fieldset-hr"/>
      <h2 class="fieldset-title">Progress</h2>
  </div>
</div>
{{>components/progress/example-index}}
